@charset "UTF-8";

@font-face {
    font-family: "RockSalt";
    src: url("../fontes/RockSalt-Regular.ttf") format('opentype'); 
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor1: #282828;
    --cor2: #400e25dc;
    --cor3: #7c7e79;
    --cor4: #BF7636;
    --cor5: #A66658;
    --cor6: #fac699;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'RockSalt', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

.container {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.icon a{
    display: inline;
    font-size: 40px;
    width: 100px;
    height: 100px;
    padding: 20px;
    background-color: var(--cor1);
    color: var(--cor4);
    text-align: center;
    line-height: 100px;
    margin: 0 20px;
    position: relative;
    transition: 0.4s linear;
}

.icon a::before,.icon a::after{
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: 0.4s linear;
}

.icon a:hover{
    transform: scale(0.8);
    color: var(--cor4);
}

.icon a:hover::before{
    border-left: 4px solid;
    border-right: 4px solid;
    transform: skewX(20deg);
    color: var(--cor4);
}

.icon a:hover::after{
    border-top: 4px solid;
    border-bottom: 4px solid;
    transform: skewy(-20deg);
    color: var(--cor4);
}

.subtitulo {
    font-family: var(--fonte-destaque);
    text-shadow: 1px 1px 0px black;
    color: var(--cor4);
    padding: 20px 0px 20px 0px;
}

.icon {
    background-color: var(--cor1);
    text-align: center;
}

html, body {
    min-height: 100vh;
    background-color: var(--cor1);
}

header {
    font-family: var(--fonte-destaque);
    text-shadow: 2px 2px 0px black;
    font-size: 3em;
    background-color: var(--cor1);
    color: #BF7636;
    text-align: center;
    padding: 50px 0px 10px 0px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: var(--cor1);
    text-decoration: none;
    font-family: var(--fonte-padrao);
    font-weight: bold;
    padding: 10px;
}

nav > a {
    text-decoration: none;
    color: var(--cor4);
    padding: 0px 10px 0px 10px;
}

nav > a:hover {
    color:var(--cor4);
}

section#historia {
    padding: 10px 0px 10px 0px;
}

section#imagem {
    display: block;
    height: 600px;
    padding: 0px 30px 30px 30px;
    background-image: url("../imagens/velho001.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: top right;
    background-color: var(--cor1);
}

section#videos {
    padding: 30px;
    background-color: var(--cor1);
}

div#youtube {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

iframe#vid01 {
    padding: 15px;
}

section#galeria {
    padding: 0px 30px 0px 30px;
    background-color: var(--cor1);
}

div#nossahistoria {
    width: 500px;
    padding: 30px;
}

footer {
    background-color: var(--cor1);
    color: var(--cor4);
    text-align: center;
    font-size: 0.8em;
}

footer > p {
    text-align: center;
    font-size: 1em;
}

p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    text-align: justify;
}

p > a {
    text-decoration: none;
    font-weight: bolder;
    color: var(--cor4);
}

p > a:hover {
    color:var(--cor4);
}