@charset "UTF-8";

@font-face {
    font-family: "RockSalt";
    src: url("../fontes/RockSalt-Regular.ttf") format('opentype'); 
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor1: #282828;
    --cor2: #400e25dc;
    --cor3: #7c7e79;
    --cor4: #BF7636;
    --cor5: #A66658;
    --cor6: #fac699;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'RockSalt', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

.icon {
    background-color: var(--cor1);
}

.icon img {
    width: 50px;
    height: 50px;
    margin: 0px 20px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.205);
}

.icon img:hover {
    border: 2px solid rgba(255, 255, 255, 0.603);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.603);
    transition: transform 0.5s, border 1s;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 30px 10px 30px;
}

.btn-fixed {
    position: fixed;
    bottom: top;
    right: 30px;
    visibility: hidden;
}

.btn-fixed.visibility {
    visibility: visible;
}

.subtitulo {
    font-family: var(--fonte-destaque);
    text-shadow: 1px 1px 0px black;
    color: var(--cor4);
    padding: 20px 0px 20px 0px;
}

html, body {
    min-height: 100vh;
    background-color: var(--cor1);
}

header {
    font-family: var(--fonte-destaque);
    text-shadow: 2px 2px 0px black;
    font-size:5em;
    background-color: var(--cor1);
    color: #BF7636;
    text-align: center;
    padding: 50px 0px 10px 0px;
}

i#icone {
    background-color: var(--cor1);
    color: var(--cor4);
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li> a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(58, 56, 56);
    color: white;
    border-top: 2px solid gray;
}

menu > ul > li > a:hover {
    color: var(--cor4);
    font-weight: bolder;
}

section#imagem {
    display: block;
    height: 600px;
    padding: 0px 30px 30px 30px;
    background-image: url("../imagens/velho001.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: right bottom;
    background-color: var(--cor1);
}

section#videos {
    padding: 30px;
    background-color: var(--cor1);
}

div#youtube {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div#social {
    display: flex;
    justify-content: center;
}

iframe#vid01 {
    padding: 15px;
}

section#galeria {
    padding: 0px 30px 0px 30px;
    background-color: var(--cor1);
}

div#nossahistoria {
    width: 500px;
    padding-right: 30px;
}

footer {
    background-color: var(--cor1);
    color: var(--cor4);
    text-align: center;
    font-size: 0.8em;
}

footer > p {
    text-align: center;
    font-size: 1em;
}

p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    text-align: justify;
}

p > a {
    text-decoration: none;
    font-weight: bolder;
    color: var(--cor4);
}

p > a:hover {
    color:var(--cor4);
}

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 999999;
    background-color: #0017ff00;
    color: #eeeeee;
    width: 80px;
    height: 78px;
    line-height: 48px;
    right: 30px;
    bottom: 30px;
    padding-top: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.scroll-top-wrapper:hover {
    background-color: #0017ff00;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 1.0;
}
.scroll-top-wrapper i.fa {
    line-height: inherit;
}

.contrate {
    width: 160px;
    height: 72px;
    padding: 10px;
    background-color: var(--cor4);
    border-radius: 5px;
    text-align: center;
    font-size: 2em;
    text-shadow: 1px 1px 1px black;
}

#contato {
    text-decoration: none;
    color: white;
}
